* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #42455a;
}

.menu ul {
    display: inline-flex;
    list-style: none;
    margin: 50px;
    
}
.menu ul li {
    color: #b2b1b1;
    margin: 0 25%;
    cursor: pointer;
    
}
.logo img {
    width: 50px;
    margin: -20px -40px;
}
.active {
    color: #19dafa !important;
}
.signup_btn {
    top: 45px;
    right: 80px;
    position: absolute;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.signup_btn span {
    display: block;
    padding: 8px 22px;
}
.banner {
    width: 80%;
    margin-left: 5%;
    margin-top: 10%;
    color: #fff;
}
.app_text {
    width: 30%;
    float: left;
}
.app_text h1 {
    font-size: calc(1em + 1em + 1vw);
    width: 640px;
    position: relative;
    margin-left: 40px;
}
.app_text p {
    font-size: calc(0.3em + 0.3em + 0.5vw);
    width: 650px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;
}
.app_picture {
    width: 50%;
    max-width: 1200px;
    float: right;
}
.app_picture img {
    width: 100%;
    min-width: 700px;
    margin-top: -120px;
    padding-left: 50px;
}
.play_btn {
    margin-left: 40px;
    display: inline-flex;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
    cursor: pointer;
}
.play_btn_inner {
    padding: 18px;
}
span.material-icons {
    font-size: 28px;  
}
small {
    position: absolute;
    margin: 27px 20px;
    cursor: pointer;
    font-size: 12px;
    color: #19dafa;
    letter-spacing: 3px;
}
.quick_links {
    left: 0;
    bottom: 0;
    position: fixed;
    background: linear-gradient(to right, #db1bf6, #19d7f8);
    
}
.quick_links ul {
    display: flex;
    margin: 30px auto;
    text-align: center;
    
}
.quick_links ul li {
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}

.quick_links ul li .material-icons {
    font-size: 25px;
    color: #fff;
    
}
.quick_links ul li p {
    margin-top: 15px;
    font-size: 10px;
    color: #fff;
}
.social_icons {
    right: 72px;
    bottom: 35px;
    position: absolute;
}
.social_icons ul li {
    list-style: none;
    margin-top: 15px;
    text-align: center;
}

.social_icons ul li a img{
    opacity: 50%;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #999;
    padding: 5px;
    display: block;
}